@media  screen and (min-width: 768px) {
    .container {
        width: 736px;   
        margin-left: auto;
        margin-right: auto;
    }

    /* ------------------Header--------------- */

    .navigation-list {
        display: flex;
        margin-left: 123px;
        gap: 40px;
    }

    .address-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 118px;
        gap: 4px;
    }

    .address-list > .header-box {
        height: 100%;
    }

    .address {
        font-weight: 400;
        font-size: 12px;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.04em;
    }

    .menu {
        display: none;
    }

    /* ------------------Hero--------------- */

    .hero-section{
        max-width: 768px;
        padding-top: 111px;
        padding-bottom: 108px;
        padding-right: 137px;
        padding-left: 137px;

        background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
        url(../images/heroimage-tablet.jpg);
    }

    .hero-section > .container {
        width: 524px;
        padding: 0;
    }

    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
    }

    /* ------------------Description--------------- */

    .description-section {
        padding: 96px 0;
    }

    .description-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 72px 24px;
    }

    .description-title {
        text-align: start;
    }

    .description-item {
        width: calc((100% - 24px) / 2);
    }

    /* ------------------Team--------------- */

    .team-section {
        padding-bottom: 104px; 
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-item {
        width: 264px;
    }

    /* ------------------Customers--------------- */

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .customers-link {
        width: 168px;
    }

    /* ------------------Footer--------------- */

    .footer-container {
        justify-content: flex-start;
        padding-left: 108px;
        gap: 72px 24px;
    }


    .logo.bottom {
        padding-bottom: 16px;
        justify-content: flex-start;
    }


    .social-title {
        margin-bottom: 24px;
        text-align: left;
    }

    .subscribe-form {
        gap: 24px;
    }

    .subscribe-form input {
        width: 264px;
    }

    /* ------------------Modal--------------- */

    .modal {
        width: 408px;
    }
    

   
}
